.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-spinner {
  margin-bottom: 2rem;
}

.tour-panel {
  margin: 1rem;
}

.tour-card {
  margin: 1rem;
}

.tour-detail {
  margin-left: 16px;
}

.tour-button {
  margin-left: 16px;
}

.match {
  margin: 1rem;
}
